<div class="container">

 <p>Fill Up The Following : </p>
  <form action="/signup" method="post">
  Name : <input type="text" name="name">
  <br>
  Password :<input type="password" name="password">
  <br>
  <input type="submit" value="Submit">
</div>